*{
    padding: 0;
    margin: 0;
}

.main{
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%),url(photo.jpg);
    background-size: cover;
    background-position: center;
    height: 109vh;
    
}

.light{
    
    height: 100px;
    padding: 0px;
    background-color: rgba(176, 196, 222, 0.075);
}

.navber{
    width: 1200px;
    height:75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 50px;
  
    padding-top: 20px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 170px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
 ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
  }
 ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out ;
}

ul li a:hover{
    color: orangered;
}

.search{
    width: 330px;
    float: left;
    margin-left: 249px;
    
}
.srch{
    
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.btn{
    
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid orangered;
    background-color: orangered;
    margin-top: 13px;
    color: black;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: .4s ease;
    
}
.btn:hover{
    background: white;
}
.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;
}
.form{
    
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 420px;
    position: absolute;
    top: -20px;
    left: 100px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 6px;
    margin-top: 130px;
    float: left;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;

}
.form textarea{
    width: 480px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
        color: black;
    font-family: Arial;
}
.srch::placeholder{
    color: white;
}
.btnn{
    width: 240px;
    height: 40px;
    background: orangered;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;

}
.btnn:hover{
    background: white;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.form .link a{
    text-decoration: none;
    color: orangered;

}
.liw{
    text-align: center;
    padding-top: 30px;
    color: white;
}

.skip{
    text-align: center;
    padding-top: 20px;
}
.skipbtn{

    text-align: center;
    width: 100px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    transition: 0.6s ease;
}
.skipbtn a{
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}
.skipbtn:hover{
    background: white;;
}

.about{
    color: white;
    background: transparent;
    background-size: cover;
    background-position: center;
    padding-left: 900px;
    width: 700px;
    height: 380px;
    position: absolute;
    top: -20px;
    left: 590px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 6px;
    margin-top: 130px;
    
}
.about p,h1,h2{
    padding-left: 40px;
    padding-top: 10px;
}